{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{! The main content area on the homepage }}

<main id="content" class="content" role="main">
  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{#post}}

    <article class="{{post_class}}">

      {{#if feature_image}}
        <div class="post-image">
          <img src="{{img_url feature_image}}" title="{{title}}"/>
        </div>
      {{/if}}

      <div class="post-content">
        <div class="post-title"><h1><a href="{{url}}">{{title}}</a></h1></div>
        {{#author}}
          <div class="post-author">
            <span>by <a href="{{url}}">{{name}}</a></span>
          </div>
        {{/author}}
        <div class="post-article">{{content}}</div>
        <div id="disqus_thread"></div>
      </div>

      <div class="post-meta">
        <div class="post-tag">{{tags separator=", "}}</div>
        <time class="post-date"
              datetime="{{date published_at timeago="true"}}">{{date
          published_at timeago="true"}}</time>

      </div>
      <div class="clearfix"></div>
    </article>


  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{@blog.url}}{{url}}';
      this.page.identifier = '{{comment_id}}';
    };
    (
      function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://boneskull.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (
          d.head || d.body
        ).appendChild(s);
      }
    )();
  </script>
  <noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  {{/post}}
</main>

<aside class="sidebar">
  <div class="sidebar-wrapper">
    <h4 class="sidebar-title">About</h4>
    {{#get "users" limit="1" order="created_at asc"}}

      {{#foreach users}}
        <p> {{bio}}</p>
      {{/foreach}}

    {{/get}}
  </div>

  <div class="sidebar-wrapper">
    <h4 class="sidebar-title">Recent Posts</h4>
    {{#get "posts" limit="3" order="published_at desc"}}
      <ul>
        {{#foreach posts}}
          <li><a href="{{url}}">{{title}}</a></li>
        {{/foreach}}
      </ul>
    {{/get}}
  </div>

  <div class="sidebar-wrapper tags">
    <h4 class="sidebar-title">Tags</h4>
    {{#get "tags" limit="all"  order="name asc"}}
      <ul>
        {{#foreach tags}}
          <li><a href="/tag/{{slug}}">{{name}}</a></li>
        {{/foreach}}
      </ul>
    {{/get}}
  </div>

</aside>

<div class="clearfix"></div>
